* {
	margin: 0;
	font-family: Arial;
	box-sizing: border-box;
}

body {
	overflow: hidden;
}

.loc {
	padding: 5px;
}

.loc1 {	
	display: flex;
	font-size: 1.2rem;
}

.navbar {
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	white-space: nowrap;
	overflow: hidden;
}

.navlogo {
	height: 55px;
	width: 125px;
}

.logo {
	height: 50px;
	width: 120px;	
	background-image: url("../logoam.png");
	background-size: cover;
}

.border {
	border: 2px solid treansparent;
}

.border:hover {
	border: 1px solid white;
}

.navf {
	color: #cccccc;
}

.navs {
	margin-left: 2px;
}

/**search-box**/
.ser {
	display: flex;
	background-color: pink;
	width:620px;
	height: 40px;
	border-radius: 4px;
}

.s-select {
	background-color: #F1E7E5;
	width: 50px;
 	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: none;
  	cursor: pointer;
}

.ser:hover {
	border: 2px solid #febd68;
}

.s1 {
  	padding: 10px;
  	font-size: 22px;
  	border: none;
	
}

.s-input {
	width:100%;
	font-size: 1rem;
	border: none;
}

.s-icon {
	color: black;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	background-color: #febd68;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Box 4 and 5*/
span {
	font-size: 0.75rem;
}

.nav-second {
	font-size: 0.85rem;
	font-weight: 700;
}
 
.add_padding {
	padding: 10px;
}

/* Box 6 */
.nav-cart i{
	font-size: 30px;
}

.nav-cart {
	font-size: 0.85rem;
	font-weight: 700;
}

/*pannel*/
.pannel {
	height: 40px;
	background-color: #222f3d;
	display: flex;
	color: white;
	justify-content: space-start;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
}

.p-first {
	margin-left: 10px;
}

.p-second a {
	color: white;
	font-size: 0.95rem;
	text-decoration: none;
	margin-left: 10px;
}

.p-second {
	width: 80%;
	margin-left: 10px;
	font-weight: 700;
}

.p-three {
	font-weight: 700;
	margin-left: 50px;
}

.p-three:hover {
	background-color: #febd68;
	color: black;
	border: 10px solid #febd68;
}

/*hero_section*/
.hero_section {
	background-image: url("../Heroimg1.jpg");
	background-size: cover; 
	height: 250px;
	transition: background 1s ease-in-out;
}

.box_main {
	background-color: #fde4cd;
	height: 150px;
}

.hero-right {
	background-color: transparent;
	font-size: 40px;
	position: absolute;
      	right: 0px; 
      	top: 100px; 
	height: 280px;
	width: 60px;
	border: none;
}

.hero-left {
	background-color: transparent;
	font-size: 40px;
	position: absolute;
      	left: 0px; 
      	top: 100px; 
	height: 280px;
	width: 60px;
	border: none;
}


.headphone_one {
	background-image: url("../headphone_one.jpg");
	background-size: cover;
	height: 100px;
	width: 150px;
}

.headphone {
	display: flex;
	justify-content: space evenly;
	flex-wrap: wrap;
}

.headphone_sec {
	background-image: url("../headphone_sec.jpg");
	background-size: cover;
	height: 100px;
	width: 150px;
	margin-left: 5px; 
}

.headphone_th {
	background-image: url("../headphone_th.jpg");
	background-size: cover;
	height: 100px;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 40px; 
}

.headphone_fo {
	background-image: url("../headphone_fo.jpg");
	background-size: cover;
	height: 100px;
	width: 150px;
	margin-left: 5px;
	margin-top: 20px;
}

.box {	
	display: flex;
	justify-content: space-evenly;
}

.box a {
	text-decoration: none;
	font-size: 0.85rem;
	color: #2F90A2;
}

.box h2 {
	margin-bottom: 4px;
} 

.box1 h2{
	font-size: 23px;
	margin-bottom: 20px;
}

.box_all {
	height: 400px;
	width: 23%;
	margin-top: 30px;
	background-color: white;
	padding: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.shoes {
	background-image: url("../Shoes.jpg");
	margin-bottom: 1rem;
	height: 300px;
}

.office-image {
	background-image: url("../office.jpg");
	margin-bottom: 1rem;
	height: 300px;
}

.plant {
	background-image: url("../Plant.jpg");
	margin-bottom: 15px;
	height: 300px;
}

.Pcare {
	background-image: url("../Pcare.jpg");
	margin-bottom: 15px;
	height: 300px;
}

.Laptop {
	background-image: url("../Laptop.jpg");
	margin-bottom: 15px;
	height: 300px;
}

.minitv {
	background-image: url("../minitv.jpg");
	margin-bottom: 1rem;
	height: 300px;
}

.box_login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 23%;
	height: 180px;
	margin-top: 30px;
}

.box_login h2 {
	margin-left: 20px;
}

.log_txt {
	font-size: 0.85rem;
	font-weight: 600;
	margin-bottom: 7px;
	margin-top: 7px;

}

button {
	background-color: #ffe093; 
	font-weight: 700;
	cursor: pointer;
	border: 0.5px solid orange;
	border-radius: 5px;
	width: 90%;
	padding: 5px;
	
}

button:hover {
	border: 2px solid black;
}

.background_box {
	background-color: #F2F8FE;
	height: 1050px;
}

.pannel1 {
	height: 40px;
	background-color: #37475a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	color: white;
}

.pannel1 a {
	text-decoration: none;
	font-size: 1rem;
	color: white;
}

.box_long {
	display: flex;
	justify-content: flex-start;
	margin-top: 10px;
	padding: 20px;
	white-space: nowrap;
	overflow: hidden;
}

.box_img img {
	margin-left: 10px;
}

.box_img {
	padding: 10px;
	width: 100%;
	background-color: white;
}

.box_img h2 {
	margin-bottom: 10px; 
	margin-left: 10px;
}

.detail_box {
	display: flex;
	justify-content: space-evenly;
	background-color: #222f3d;
	height: 450px;
	color: white;
}

ul {
	margin-top: 40px;
}

ul a {
	dispaly: block;
	text-decoration: none;
	color: white;
}

ul p {
	font-weight: 700;
}

ul li {
	margin: 0 0 10px;
	list-style-type: none;
}

.pannel3 {
	background-color: #131A22;
	padding: 10px 0;
	color: white;
	text-align: center;
}

.pannel4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222f3d;
	color: white;
	border-top: 0.5px solid white;
	height: 70px;
}

.my_radio {
    	border: 0.5px solid white;
        padding: 10px;
        border-radius: 5px;
	margin-left: 10px;
}
